# EVM WSS RPC
SEPOLIA_SOCKET_URL=
ETHEREUM_SOCKET_URL=
POLYGON_SOCKET_URL=
OPTIMISM_SOCKET_URL=
ARBITRUM_SOCKET_URL=
BASE_SOCKET_URL=
CELO_SOCKET_URL=
GNOSIS_SOCKET_URL=

# EVM HTTP RPC
SEPOLIA_HTTP_URL=
ETHEREUM_HTTP_URL=
POLYGON_HTTP_URL=
OPTIMISM_HTTP_URL=
ARBITRUM_HTTP_URL=
BASE_HTTP_URL=
CELO_HTTP_URL=
GNOSIS_HTTP_URL=

# REDIS
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# SUBGRAPH
GRAPH_NETWORK_API_KEY=

# ETHERSCAN
ARBISCAN_API_KEY=
BASESCAN_API_KEY=
CELOSCAN_API_KEY=
ETHERSCAN_API_KEY=
GNOSISSCAN_API_KEY=
OPSCAN_API_KEY=
POLYGONSCAN_API_KEY=

# IPFS
PINATA_GATEWAY_URL=
PINATA_GATEWAY_TOKEN=
